<p>
	<strong>Brand:</strong>
	<%= @appliance.brand_name %>
</p>

<p>
	<strong>Model:</strong>
	<%= @appliance.app_model_name %>
</p>

<p>
	<strong>Model number:</strong>
	<%= @appliance.app_model_number %>
</p>
